.background{
    background-size: cover;
    padding-top: 50px;
}

.bg-form{
    background-position: bottom;
    display: flex;
    justify-content: center;
    
}
.blur{
    background: #ffffffcc;
    backdrop-filter: blur(8px);
}
.blur-cards{
    background: #280e37cc;
    backdrop-filter: blur(8px);
    border-radius: 10px;

}

.title-font{
    font-family: 'Anton', sans-serif;
}

/* HOME STYLES */

.bg-home{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #26214b;
    opacity: 1;
    min-height: 100vh;

}

.hero-item{
    text-align: center;
    padding-bottom: 5px;
    font-size: 26px;
    /* height: 100px; */
}

.details-container{
    position: relative;
}

.details{
    background-color: white;
    color: black;
    position: absolute;
    opacity: 0.9;
    text-align: center;
    top: 0;
    list-style: none;
    font-size: 13px;
    height: 100%;
    width: 100%;
}

.img-hero{
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: transparent;
}

.powerstats{
    list-style: none;
    font-size: 13px;
}


.btn-home{
    width: 50%;
    height: 60px;
}

.empty-container{
    color: white;
    background-color: #696969;
    opacity: 0.9;
    padding: 20px;
    border-radius: 3px;
    margin-top: 10px;
}
